@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Apple+Garamond');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.row {
  width: 100%;
}

.image-row {
  position: relative;
  height: 85vh;
}

.image-caption {
  /* flex justify-center absolute w-full h-16 inset-y-1/2 */
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 3.5rem;
  top: 50%;
  bottom: 50%;
}

@media (min-width: 850px) {
  body {
    overflow: hidden;
  }

  .row {
    display: flex;
    /* flex flex-wrap items-center justify-center overflow-hidden relative */
  }

  .image-row {
    width: 50%;
  }
}

.caption {
  /* text-white text text-5xl font-montserrat hover:scale-110 transition-transform border-2 py-2 px-16 duration-300
text-white text text-5xl font-montserrat hover:scale-110 transition-transform border-2 py-2 px-16 duration-300 */
  color: #fff;
  font-size: 3rem;
  font-family: "Montserrat";
  transition-property: transform;
  border-width: 2px;
  padding: 0.5rem 4rem;
  transition-duration: 300ms;
  line-height: 2.2rem;
}

.caption:hover {
  transform: scale(1.1);
}

@media (min-width: 1350px) {
  .caption {
    font-size: 3.5rem;
    line-height: 3rem;
    padding: 1rem 7rem;
    height: 5.5rem;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

/* Apply the font family to the desired elements */
.font-garamond {
  font-family: 'garamond', serif;
}

.font-montserrat {
  font-family: 'Montserrat';
}

.h-96 {
  height: 96vh;
}

